h1{
    text-align: center;
}

#form-top{
    display: flex;
    align-content: center;
    justify-content: center;
}

ul{
    list-style: none;
}


a {
    text-decoration: none;
}


.Weeks{
    display: flex;
    flex-flow: row wrap;
    
}


.Weeks .Day {
    flex: 1 0 33%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}
